@model IEnumerable<MVC.Models.DemandeModel>

@{
    ViewBag.Title = "ListeDemandes";
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
}

<h2>Client Request</h2>

<div class="container">
    <div class="form-group">
        <div class="input-group">

            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" id="Search" placeholder="Search" class="form-control1 ng-invalid ng-invalid-required ng-touched" />
        </div>



    </div>


</div>
<div class="panel-body no-padding">
    <table class="table table-striped" width="200">
        <tr>

            <th>
                Director
            </th>
            <th>
                Project Name
            </th>
            <th>
                Project description
            </th>
            <th>
                Resources Competence
            </th>
            <th>
                Resources Diplome
            </th>



            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="Search">
               

                <td>
                    @Html.DisplayFor(modelItem => item.directeur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nomProjet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.competance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.diplome)
                </td>


                <td>
                    @*@Html.ActionLink("Traiter", "envoiMail") |*@
                    @Html.ActionLink("Details", "Details", new { id = item.idDemande })
                </td>
            </tr>
        }

    </table>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>

        $(document).ready(function () {
            function Contains(text_one, text_two) {
                if (text_one.indexOf(text_two) != -1)
                    return true;
            }
            $("#Search").keyup(function () {
                var searchText = $("#Search").val().toLowerCase();
                $(".Search").each(function () {
                    if (!Contains($(this).text().toLowerCase(), searchText)) {
                        $(this).hide();
                    }
                    else {
                        $(this).show();
                    }
                });
            });
        });



</script>
