@model Domaine.passage

@{
    ViewBag.Title = "CreatePassage";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<h2>CreatePassage</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>passage</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       

      @ViewBag.testt.q1
       
        <div class="form-group">
            @Html.LabelFor(model => model.answer1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.answer1)
                    @Html.ValidationMessageFor(model => model.answer1, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        @ViewBag.testt.q2




        <div class="form-group">
            @Html.LabelFor(model => model.answer2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.answer2)
                    @Html.ValidationMessageFor(model => model.answer2, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        @ViewBag.testt.q3


        <div class="form-group">
            @Html.LabelFor(model => model.answer3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.answer3)
                    @Html.ValidationMessageFor(model => model.answer3, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        @ViewBag.testt.q4


        <div class="form-group">
            @Html.LabelFor(model => model.answer4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.answer4)
                    @Html.ValidationMessageFor(model => model.answer4, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        @ViewBag.testt.q5


        <div class="form-group">
            @Html.LabelFor(model => model.answer5, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.answer5)
                    @Html.ValidationMessageFor(model => model.answer5, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        @ViewBag.testt.q6


        <div class="form-group">
            @Html.LabelFor(model => model.answer6, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.answer6)
                    @Html.ValidationMessageFor(model => model.answer6, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        @ViewBag.testt.q7


        <div class="form-group">
            @Html.LabelFor(model => model.answer7, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.answer7)
                    @Html.ValidationMessageFor(model => model.answer7, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        @ViewBag.testt.q8


        <div class="form-group">
            @Html.LabelFor(model => model.answer8, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.answer8)
                    @Html.ValidationMessageFor(model => model.answer8, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        @ViewBag.testt.q9


        <div class="form-group">
            @Html.LabelFor(model => model.answer9, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.answer9)
                    @Html.ValidationMessageFor(model => model.answer9, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        @ViewBag.testt.q10


        <div class="form-group">
            @Html.LabelFor(model => model.answer10, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.answer10)
                    @Html.ValidationMessageFor(model => model.answer10, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        
       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
