@model Domaine.candidate

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}


@{
    var p = ViewBag.result;
}

@{string path = "~/Content/Upload/" + @p.image + ".jpg";}

@p.email
<h2>Profile</h2>
<h2> Bienvenue : @Model.nom  Votre Etat est :  @Model.etat</h2>

<div class="single-user-candidate">
    <div class="user-detail-info text-center">
        <div class="user-pic">
            <img src="@Url.Content(path)" class="img-fluid rounded-circle" alt="">
        </div>
        <div class="user-content-info emply-resume-info text-center mt-4">
            <h4>
                <a href="#">@p.nom  @p.prenom</a>
            </h4>
            <h5 class="mt-2">
                <h4>
                    <i class="far fa-envelope"></i>
                    <span class="icon_text"> @p.email</span>
                </h4>
              
                


            </h5>
            <p>
                <i class="fas fa-map-marker-alt"></i> @p.ville / @p.pays
            </p>
            <ul class="links_bottom_emp mt-2">
                <li>
                    <a href="candidate_single.html">
                    
                </li>
                <li>
                    <a href="location_single.html">
                        <i class="fas fa-eye"></i>
                        <span class="icon_text">View full Job Description</span>
                    </a>
                </li>
            </ul>
            <div class="skills-info my-4">
                <span>Photoshop</span>
                <span class="mx-3">Designer</span>
                <span>Ilustrator</span>
            </div>

            <div class="can-btn">
                <a href="#">
                    <i class="fas fa-long-arrow-alt-down"></i> Download Cv
                </a>
            </div>
        </div>
    </div>
</div>



